.home {
	margin-top: $global-margin * 4;

	.container {
		display: flex;
		flex-flow: column;
		
		@include breakpoint(md) {
			flex-flow: row-reverse;
		}

		.main {
			width: 100%;
			margin-bottom: $global-margin;
			
			@include breakpoint(md) {
				width: 60vw;
				padding-right: $global-padding / 2;
				margin-bottom: 0;
			}

			@include breakpoint(lg) {
				width: 60vw;
				padding-right: $global-padding / 2;
				margin-bottom: 0;
			}

			.graph {
				width: 100%;
				margin-bottom: $global-margin * 2;

				.graph__box {
					background-color: #fff;
					box-shadow: 
						0 2px 4px 0 rgba(#000, 0.05),
						0 4px 15px 0 rgba(#000, 0.06);
					padding: $global-padding;
					border-radius: 6px;
				}
			}

			.statistics {
				width: 100%;
				margin-bottom: $global-margin * 2;
			}
		}

		.sidebar {
			width: 100%;
			
			@include breakpoint(md) {
				width: 30vw;
				padding-left: $global-padding / 2;
			}

			@include breakpoint(lg) {
				width: 30vw;
				padding-left: $global-padding / 2;
			}
		}
	}
}