body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.subpage {
	margin-top: calc(8vh + 1rem);
	
	@include breakpoint(md) {
		margin-top: calc(15vh + 1rem);
	}
}