.boxes {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    user-select: none;
    margin-bottom: $global-margin;
    position: relative;

    @include breakpoint(lg) {
        flex-flow: row;
    }

    &.boxes__two {
        flex-flow: row;

        .box {
            padding: $global-padding $global-padding * 2;
            width: 50%;

            &:not(:last-of-type) {
                margin-right: $global-margin;
                margin-bottom: 0;
            }

            @include breakpoint(lg) {
                width: 50%;
            }

            .box__title {
                font-size: 1rem;
            }

            .box__subtitle {
                font-size: 0.7rem;
            }

        }
    }

    &.boxes__three {

        .box {
            @include breakpoint(lg) {
                width: 33.3333%;
            }

        }
    }

    .box {
        width: 100%;
        background-color: #fff;
        box-shadow: 
            0 2px 4px 0 rgba(#000, 0.05),
            0 4px 15px 0 rgba(#000, 0.06);
        padding: $global-padding * 2 $global-padding * 2;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 6px;

        &:not(:last-of-type) {
            margin-bottom: $global-margin;
            margin-right: 0;
        }

        @include breakpoint(lg) {

                &:not(:last-of-type) {
                    margin-right: $global-margin;
                    margin-bottom: 0;
                }
            }
    
        .box__title {
            font-weight: 700;
            font-size: 1.4rem;
            margin-bottom: $global-margin / 3;
        }
    
        .box__subtitle {
            font-weight: 400;
            font-size: 0.75rem;
            color: rgba(#000, 0.55);
        }
    }

    .box__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: #ddd;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $global-padding / 4;
    }
}