.header {
	padding: rem(18) 0;
	background-color: rgba(#000, 0.85);
	margin-bottom: rem(32);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	
	.container {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		
		.logo {
			color: #FFF;
			font-weight: 900;
			cursor: pointer;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
		}

		.nav {
			display: flex;
			flex-flow: row;
			align-items: center;
			
			span {
				color: rgba(#fff, 0.8);
				cursor: pointer;
				font-size: rem(10);
				font-weight: 600;
				text-transform: uppercase;
				text-decoration: none;
				
				&:hover {
					color: #FFF;
				}

				&.active {
					font-weight: 800;
					color: #FFF;
				}
				
				&:not(:last-child) {
					margin-right: rem(18);
				}
			}
		}
	}
}